<div class="row mb-5 mt-3 search-wrap">
    <div class="col text-center">
        <h2>Leap to Comfort</h2>
    </div>
    <div class="col-lg-10 text-center offset-lg-1">
        <form>
            <div class="row">
                <div class="form-group col-10 col-md-10">
                    <input type="text" class="form-control" id="search" name="search" placeholder="Search products..." [(ngModel)]="search" (input)="searchProducts()">
                </div>
                <div class="form-group col-md-2 col-2">
                    <button type="submit" class="btn btn-block text-white">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>